.body {
  margin: 20px;
  padding: 40px;
}

.nav-items {
  color:rgb(153, 131, 6);
  padding: 16px;  
  text-align: right;
}

.container {
  padding: 48px;
  text-align: left;
}

.order-list {
  padding: 24px;
  text-align: left;
}

.order-list-item {
  color: white;
  padding: 24px;
  background: #1c4853;
  text-align: left;
  padding: 24px;
}

.title {
  color: white;
  text-decoration: underline;
  color: white;
  
}

.redbutton { 
  font-size: 16px;
  padding: 10px;
  margin: 0px 20px;
  color: rgb(119, 18, 18);
  
}
.bluebutton { 
  font-size: 16px;
  padding: 10px;
  margin: 0px 20px;
  color: rgb(20, 69, 126);
  
}